:root {
    background-image: url("project://database/Assets/Game/Art/UI/TOOLKIT/MC/MCBackground.png?fileID=2800000&guid=bced5da409d20f24ab813ba8cb661240&type=3#MCBackground");
    background-size: 1920px 1080px;
    background-position-x: center;
}

.header {
    height: 500px;
}

.main {
    margin-top: 50px;
}

.Button {
    background-image: url("project://database/Assets/Game/Art/UI/TOOLKIT/MC/MCButton.png?fileID=2800000&guid=892179e2cf4b3f044a48ebfb5fbb5666&type=3#MCButton");
    background-size: 100% 100%;
    background-position-x: center;
    width: 900px;
    height: 90px;
    opacity: 1;
    align-self: center;
    margin-bottom: 20px;
}

.button-left {
    background-image: url("project://database/Assets/Game/Art/UI/TOOLKIT/MC/MCButton.png?fileID=2800000&guid=892179e2cf4b3f044a48ebfb5fbb5666&type=3#MCButton");
    background-size: 100% 100%;
    background-position-x: center;
    width: 440px;
    height: 90px;
    opacity: 1;
    align-self: flex-start;
    left: 505px;
}

.button-right {
    background-image: url("project://database/Assets/Game/Art/UI/TOOLKIT/MC/MCButton.png?fileID=2800000&guid=892179e2cf4b3f044a48ebfb5fbb5666&type=3#MCButton");
    background-size: 100% 100%;
    background-position-x: center;
    width: 440px;
    height: 90px;
    opacity: 1;
    align-self: flex-end;
    left: auto;
    right: 505px;
}

.text-options {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.footer {
}

.text-footer {
    font-size: 40px;
    color: rgb(255, 255, 255);
}
